.content {
    #toc-wrap {
        float: right;
        min-width: 120px;
        max-width: 260px;
        padding: 6px;
        margin: 0 0 15px 20px;
        border: 1px solid #e2e2e2;
        font-size: 14px;

        p {
            padding: 0 4px;
            margin: 0 !important;
            border-bottom: 1px solid #e2e2e2;
        }

        ul {
            margin: 7px 7px 7px 21px !important;
            list-style: disc;

            a {
                &:hover {
                    text-decoration: underline;
                }
            }
        }

        @media screen and (max-width: 640px) {
            float: none;
            margin: 0;
            max-width: inherit;
        }
    }
}
